CenterPose/data/outf_all
CenterPose/data/data
myPose/lib/data_objectron/Objectron
myPose/lib/data_objectron/Objectron
myPose/checkpoint/
__pycache__

myPose/demo/
CenterPose/demo

FirstDataset
second_dataset

myPose/lib/data

myPose/eval
myPose/eval_torch3d

images/*
ps_grasp_single_1k
ps_grasp_single_1k.zip

KGN_mypose
myPose/image